* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: black;
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
}
h4 {
  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;

}

#attempts {
  font-size: 32;
}

body {
  height: 100vh;
  background: grey;
}

.memory-game {
  width: 70vw;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: 175px;
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  /* box-shadow: 1px 1px 1px rgba(0,0,0,.37); */
}

.memory-card:active {
  transform: scale(0.8);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(-180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 27.5px;
  /* background: black; */
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(-180deg);
}








/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 3px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    font-size: 23px;
    text-align: center
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
